
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 45rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  flex-direction: row;
  align-items: center;

}

.header {
  margin: 0 auto;
  width: 45rem;
  padding: 0 1.6rem;
}

.header-title {
    margin: 0;
    color: white;
    background: black;
    display: -webkit-inline-box;
    padding: 0.2rem 1.5rem;
    margin-left: 1rem;
    font-weight: 300;
    margin-top: 0.5rem;
}

.header-tag {
  margin: 0;
  margin-left: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.tag {
  color: #844444;
}